
/*Documento style.css*/
.body {
    background: linear-gradient(rgb(83, 61, 0), rgb(129, 56, 0));
    height: 100vh;
    margin: 0;
}

.titulo {
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.info {
    margin-top: 5%;
    color: white;
}

.producto {
    margin-left: 10%;
    height: 80px;
    width: 190px;
}

.peso {
    margin-top: -8%;
    margin-left: 40%;
    height: 80px;
    width: 190px;
}
.calorias{
    margin-top: -8%;
    margin-left: 70%;
    height: 80px;
    width: 190px;
}

.resultInfo{
    position: absolute;
    margin-top: 110px;
    color: white;
    margin-left: 10%;
    font-size: 18px;
}
.button {
    position: absolute;
    margin-top: 4%;
    margin-left: 10px;
    height: 40px;
    width: 90px;
    border-radius: 10px;
    font-size: 20px;
}
.button:hover {
    background-color: red;
}

.resultItem {
    /* Define your styles for the dynamically created elements here */
    color: rgb(255, 255, 255);
    font-size: 18px; /* Change the text color to red as an example */
    font-weight: bold;
    margin-top: 10px;;
    /* Add any other styles you want for the result items */
}

.pesoEsperado {
    border-color: white;
    border-style:groove;
    text-align: center;
    font-size: 10px;
    margin-top: -13%;
    height: 100px;
    width: 170px;
    margin-left: 85%;
}
